/* for large screen */
@media only screen and (min-width: 668px) {
  body {
      box-sizing: border-box;
      padding: 15px 10px 0 10px;
      overflow-x: hidden;
      font-family: sans-serif;
  }

  img {
      width: 100%;
      height: 70%;
  }
  div.images {
      padding: 7% 5% 0% 5%;
  }

  div.forms {
      padding: 5% 5% 0% 5%;
  }

  div.forms > h1,
  h4,
  h3 {
      color: rgba(35, 93, 140, 1);
      font-weight: 600;
  }

  form > input[type="text"] {
      margin: 2% 0;
      background-color: #b1d5fe;
      padding-left: 20px;
      border-radius: 0px;
      height: 47px;
  }

  button[type="button"] {
      width: 120px;
      margin: 10px 0 7px 0;
      border-radius: 7px;
      font-weight: bold;
  }

  div.forms > h5 {
      font-weight: bold;
  }
}

/* for small screens */

@media only screen and (max-width: 667px) {
  body {
      box-sizing: border-box;
      padding: 15px 10px 0 10px;
      overflow-x: hidden;
      font-family: sans-serif;
  }

  img {
      width: 100%;
      height: 70%;
  }
  div.images {
      padding: 7% 5% 0% 5%;
  }

  div.forms {
      padding: 5% 5% 0% 4%;
  }

  div.forms > h1 {
      font-size: 30px;
  }
  div.forms > h4 {
      font-size: 16px;
  }

  div.forms > h5 {
      font-size: 17px;
  }

  div.forms > h3 {
      font-size: 22px;
  }

  div.forms > h1,
  h4,
  h3 {
      color: rgba(35, 93, 140, 1);
      font-weight: 600;
  }

  form > input[type="text"] {
      margin: 2% 0;
      background-color: #b1d5fe;
      padding-left: 20px;
      border-radius: 0px;
      height: 47px;
  }

  button[type="button"] {
      width: 120px;
      margin: 10px 0 7px 0;
      border-radius: 7px;
      font-weight: bold;
  }

  div.forms > h5 {
      font-weight: bold;
  }
}
